
extends layout
block content
 body#LoginForm
      .container.login-form
        .row
            .col-md-3.register-left
                img(src='https://image.ibb.co/n7oTvU/logo_white.png', alt='')
                h3 QuickNote
                p You are 20 seconds away from having your own personilized notes!
            .col-md-9.register-right
                        .row.login-form
                            .col-md-6
                                .form-group
                                  input#loginEmail.form-control(name='loginEmail', type='text', placeholder='Email *', value='', required='')
                                .form-group
                                  input#loginPassword.form-control(name='loginPassword', type='password', placeholder='Password *', value='', required='')
                                .forgot
                                  a#register-link(href='/api/registerUser') Register New User
                                p#err-msg-login(style="color:red")
                            .col-md-6
                                .form-group
                                  input#btn-login.btn-register(type='submit', value='Login')
      .alert.alert-success(role='alert')
      .alert.alert-info(role='alert')
      .alert.alert-danger(role='alert')
